body{
    display: flex; 
    }

    section{
        background-image: url(picture/top-banner.png);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: cover;
        font-family: 'Roboto Slab', serif;
        display: flex;
        padding-left:4%;

    }
.header  {
    font-size: 20px;
    padding-left: 7%;
    padding-top: 2%;

}
.hh{
    font-size: 30px;
    
}
.picture { 
    
    padding-left: 40%;
    margin-top: -50px;
  
}
.pp
{
    font-size:15px;
}
.name{
    color: rgba(61, 191, 214, 0.856);
}
.link-button{
    padding: 10px 40px;
    text-decoration: none;
    background-color: lightskyblue;
    background-image: linear-gradient(rgb(245, 245, 245) skyblue);
    color: ivory;
    font-size: 700;
    border-radius: 100px;
    display: flex;
}
