body{
    font-family: 'Otomanopee One', sans-serif;
   background-color: rgba(161, 241, 241, 0.233);
   background-image: linear-gradient( rgba(68, 176, 209, 0.493), rgba(128, 209, 205, 0.74));
   background-image: url(picture/top-banner.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
h1{
    font-size: 50px;
    
}
.name{
    color: rgb(44, 173, 212);
 
}
.sub-header{
    color: rgb(109, 176, 207);
}
.flex{
    display: flex;
    margin-bottom: 200px;

}
.first{
    width: 50%;
    padding-left:5%;
    

}
.face{
    width: 40%;
    padding-left:5%;
    box-shadow: 15px 16px 70px rgba(8, 59, 77, 0.815);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
   
   

}
#bord{
    border-left: solid 10px;
    border-image: linear-gradient(rgb(255, 72, 0), cyan);
    border-image-slice: 1%;
}
#border{
    border-left: solid 10px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1%;
   
}
.first img{
    width: 64%;
    padding-left: 40%;
    
}
.firstt img{
    background-position: left;
    padding-right: 50%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.new{
    background-image: url(picture/dream-bg.png);
  
   background-repeat: no-repeat;
   background-position:right;
   background-size: 8%;
   padding-bottom: 1.3%;
}

.l-b{
    text-decoration: none;
    background-image: linear-gradient( rgba(68, 191, 228, 0.87), rgb(233, 233, 233));
    padding: 10px 40px;
    color: white;
    font-size: 900;
    border-radius: 90px;
    
}


.pic{
    background-image: url(picture/exp.png);
    background-repeat: no-repeat;
    padding: 10%;

}
footer p{
    text-align:center;
}